*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.el-input,div.el-table{
    font-size: 13px;
}

.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.pd-10 {
    padding: 10px 0;
}
